body{
    background-color: rgb(39, 39, 39);
    color: rgb(211, 125, 19);
    font-family: 'Times New Roman', serif ;
    
}

.text1{
    position: relative;
    text-align: center;
    font-size: 40px;
    letter-spacing: 6px;
}
.text2{
    position: relative;
    text-align: center;
    font-size: 40px;
    letter-spacing: 6px;
}

.date{
    position: relative;
    text-align: center;
    font-size: 40px;
    letter-spacing: 6px;
}

.rounded{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 17%;
  
}
